<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="Mapper">
 
  	<select id="test01" resultType="Pack.UserDTO">
 		select pw from table04 where id=#{id} and pw=#{pw}
 	</select>
 	
   	<select id="test02" resultType="String">
 		select * from table04 where id=#{id}
 	</select>

	<insert id="test03" parameterType="Pack.UserDTO">
		insert into table04(id, pw, name, age) values (#{id}, #{pw}, #{name}, #{age})
	</insert>

</mapper>